Repository frequenz-floss/frequenz-client-weather-python, pull requests merged in 2025-05, with the labels that each got.

#22 Upgrade to repo-config v0.13.2
  .github/dependabot.yml
  .github/workflows/ci-pr.yaml
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  pyproject.toml
Labels: cmd:skip-release-notes, part:docs, part:tooling

#34 Major upgrade of numpy dependency to v2
  pyproject.toml
Labels: part:tooling

#35 Update release notes
  RELEASE_NOTES.md
Labels: part:docs

#37 Reset release notes
  RELEASE_NOTES.md
Labels: part:docs
